* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    ;
}

table {
    margin-top: 20%;
    width: 100%;
}

td {
    padding: 1%;
    text-align: center;
    border-top: .2rem solid;
}

th {
    padding: 1%;
    background-color: rgb(105, 105, 105);
    border-radius: 4%;
}

td button {
    margin: 2%;
    border-radius: 9%;
    background-color: white;
    color: rgb(27, 27, 27);
    ;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 2px;
    text-align: center;
}

    td button:hover {
        background-color: rgb(27, 27, 27);
        color: white;
        border: solid 2px white;
    }
